<footer class="footer-no-nav navbar-default navbar-fixed-bottom" role="contentinfo">
  <div class="container text-center">
    <p><small>Copyright &copy;2015 BlogIt App </small></p>
  </div>
</footer>